<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.lt.vu.softwaredevelopment.mybatis.Project" alias="Project"/>
        <typeAlias type="com.lt.vu.softwaredevelopment.mybatis.User" alias="User"/>
        <typeAlias type="com.lt.vu.softwaredevelopment.mybatis.Group" alias="Group"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ProjectDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.lt.vu.softwaredevelopment.mybatis.dao.ProjectMapper"/>
        <mapper class="com.lt.vu.softwaredevelopment.mybatis.dao.UserMapper"/>
        <mapper class="com.lt.vu.softwaredevelopment.mybatis.dao.GroupMapper"/>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/ProjectMapper.xml"/>
    </mappers>
</configuration>
